const HDWalletProvider = require('@truffle/hdwallet-provider');
const infuraURL = 'https://mainnet.infura.io/v3/a661847143904e5c883f6c8050936c2d'
const mnemonic = "solution oil shaft predict favorite outer pattern apple wild honey miracle season"

mainnet: {
      provider: () => new HDWalletProvider (mnemonic, infuraURL),
    network_id: 4,
    gas: 5500000,
    confirmations: 2,
    timeoutBlocks: 200,
    skipDryRun: true
    },